<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Trip Friends</span></h1>
        </div>
        <nav class="navbar navbar-expand-md">
            <ul>
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/info-page" routerLinkActive="active">About</a></li>
                <li class="current"><a>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container" style="background-color: #35424a; padding-bottom: 450px;">
    <div>
        <h1 style="text-align: center; color: #e8491d; margin-top: 200px;">Thank you for using our app!</h1>
        <h3 style="text-align: center; color: #e8491d; margin-top: 50px;">If there are any issues you encounter or find, you have the
            posibility to contact us on email:</h3>
    </div>
    <div style="font-size: 40px; text-align: center; color: #e8491d;"><b>tripfriendscontact@gmail.com</b></div>
</div>
<footer>
    <p>Trip Friends, Copyright &copy; 2020</p>
</footer>