<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Trip Friends</span></h1>
        </div>
        <nav class="navbar navbar-expand-md">
            <ul>
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li class="current"><a>About</a></li>
                <li><a routerLink="/contact-page" routerLinkActive="active">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
<section id="main">
    <div class="container">
        <article id="main-col" class="box-transparency">
            <h1 class="page-title">About us</h1>
            <h2>Have you ever thought about how could be your trip if you had a good company to share memories with? Well, that is why we are here!</h2>
            <h5>Trip Friends is an application developed to satisfy the needs of a good company when you are planning a trip, but you have no one to share your experience with.
            The goal we desire through this application is to offer options to the people to choose between a good experience or an awsome one.
            </h5>
            <h5>Let us explain to you. No matter when, but we are sure you had sometime a moment when you went to visit a location but all your company was you, alone.
                With our app, you can try to find one or more persons to share your experience with, during your traveling time.
                All you have to do is to create an account by registering procedure. Some data will be asked for, in order to create your account.
                After this step, you can try to use the app, nothing simpler than this.
                You will have to find a <b><i>username</i></b> which you will use as a key, to log in, and a <b><i>password.</i></b>
                This is all you will use to log in and after the log in step, you are free to choose anybody you like to become your <b>trip friend.</b>
                <br><br><br><h4>What are you waiting for? Go for it!</h4>
            </h5>
        </article>
        <aside id="sidebar" >
            <div class="box-transparency">
                <h3>How app works</h3>
                <p>After the account is created and you are logged in, on the left section of the screen you can find the menu of your account.
                    There will be present a few sections. 
                    <br>In order of appearence:
                    <br><u>HOME</u>
                    <br><u>ACTIVITY</u>
                    <br><u>FEEDBACK</u>
                    <br><u>INFO</u>
                <br>To find more, please select a section.
                </p>
            </div>
        </aside>
    </div>
</section>
</section>
<footer>
    <p>Trip Friends, Copyright &copy; 2020</p>
</footer>